<!--The content below is only a placeholder and can be replaced.-->
<link href="https://rawgit.com/angular/material2-builds/master/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<div class="finder">
    <div class="finder__title">Поиск</div>
</div>

<app-search></app-search>

