.finder {
    width: 320px;
    margin: auto;
}

.finder-search__input {
    width: 100%;
}

.finder-search-autocomplete__item {
    border-bottom: 1px solid #eee;
}

.finder-search-form,
.finder-search-form__field {
    width: 100%;
}

.movie-card {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 200px;
}