<div class="finder">
    <form class="finder-search-form">
        <mat-form-field class="finder-search-form__field">
            <input matInput placeholder="Film name" class="finder-search__input" aria-label="Enter film name" (keyup)="OnKeyup($event)" [matAutocomplete]="auto" [formControl]="filmControl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of moviewList" (click)="selectAutocomplete(item.imdbID)" [value]="item.Title" [attr.data-id]="item.imdbID">
                <img style="vertical-align:middle;" aria-hidden src="{{ item.Poster }}" height="25" />
                <span>{{ item.Title }}</span> |
                <small>Year {{item.Year}}</small>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<div class="movies">
<mat-card class="example-card movie-card" *ngFor="let item of addedMovies; index as key">
  <mat-card-header>
    <mat-card-title><a href="http://www.imdb.com/title/{{ item.imdbID }}" target="_blank">{{ item.Title }}({{ item.Year }}) {{ item.Rated }}</a></mat-card-title>
    <mat-card-subtitle>Runtime: {{ item.Runtime }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ item.Poster }}" alt="Poster of a {{ item.Title }}">
  <mat-card-content>
    <p>
        {{ item.Plot }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="removeMovie(key)">Delete</button>
  </mat-card-actions>
</mat-card>
</div>